<%- include('./partials/_head') %> 
    <main id="detail">
        <div id="btn">
            <a href="#edit" id="editbtn">EDIT</a>
            <a href="/detail/<%= detailData["_id"] %>/delete">DELETE</a>
        </div>
        <div class="item">
            <img src="<%= detailData["Product-picture-Link"] %> " alt="">
            <div>
                <h3><%= detailData["Product-name"] %></h3>
                <h3>$<%= Number(detailData["Price"]).toFixed(2) %></h3>
            </div>
            <p><%= detailData["Company"] %></p>
        </div>
        <div class="description">
            <h3>Product Description:</h3>
            <p><%= detailData["Description"] %></p>
            <div><a href="<%= detailData["'Link-shop'"] %> ">BUY PRODUCT</a></div>
        </div>
        <div id="edit">
            <h2>EDIT PRODUCT</h2>
            <form action="/detail/<%= detailData._id %>/edit" enctype="multipart/form-data" method="POST">
                <input type="text" name="name" id="" placeholder="<%= detailData["Product-name"] %>">
                <input type="file" name="image" id="">
                <input type="text" name="company" id="" placeholder="<%= detailData["Company"] %>">
                <input type="number" name="price" id="" placeholder="$<%= Number(detailData["Price"]).toFixed(2) %>">
                <textarea name="description" id="" cols="30" rows="10" placeholder="<%= detailData["Description"] %>"></textarea>
                <input type="submit" value="EDIT PRODUCT">
            </form>
        </div>
    </main>
<%- include('./partials/_foot') %> 
