<%- include('./partials/_head') %> 
    <main id="home" class="three">
        <% dataList.forEach(elt => { %>
            <div class="item">
                <a href="/detail/<%= elt["_id"] %>"></a>
                <img src="<%= elt["Product-picture-Link"] %> " alt="">
                <div>
                    <h3><%= elt["Product-name"] %></h3>
                    <h3>$<%= Number(elt["Price"]).toFixed(2) %></h3>
                </div>
                <p><%= elt["Company"] %></p>
            </div>
        <% }) %>
    </main>
<%- include('./partials/_foot') %> 
